@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F5F0; /* Aplica tu color roman-bg por defecto */
  color: #2D2D2D; /* Aplica tu color charcoal por defecto */
}